<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user_profile.name }} Home</title>
</head>
<body>
Hello <a href="{% url 'core:iddetails' user_profile.id %}">{{ user_profile.name }}.</a>
<a href="{% url 'core:logout' %}" style="position:absolute; right:200px" >Logout</a>
<br><br><br>
Some Useful actions below<br><br>
<a href="{% url 'core:userdetails' %}">Get All User Details.</a><br><br>
<a href="{%url 'core:setpasswordview' %}">Change Your Password</a>


<br><br><br>
Search a user by mobile number.<br>
<form action="{% url 'core:searchuser' %}" method="post">
<!--  <label for="mobile">Phone Number</label><br>-->
  <input type="text" id="mobile" name="mobile" value=""><br><br>
  <input type="submit" value="Search User">
</form>
</body>
</html>