<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
</head>
<body>
<a href="{% url 'core:logout' %}" style="position:absolute; right:200px" >Logout</a>
<table style="width:50%">
  <tr>
    <th style="text-align: left">id</th>
    <th style="text-align: left">username</th>
    <th style="text-align: left">email</th>
    <th style="text-align: left">mobile</th>
  </tr>

    {% for user_profile in users %}
      <tr>
          <td><a href="{% url 'core:iddetails' user_profile.id %}">{{ user_profile.id }}</a> </td>
        <td>{{ user_profile.name }}</td>
        <td>{{ user_profile.email }}</td>
        <td>{{ user_profile.mobile }}</td>
      </tr>
    {% endfor %}

</table>
</body>
</html>